<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{url_for('static',filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{url_for('static',filename='main2.css')}}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
		
	</head>


	<body>
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/home/1" id="branding">
						<img src="{{url_for('static',filename='images/logo1.png')}}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Book Recommender</h1>
							<small class="site-description">Books you Like.....</small>
						</div>
					</a> 
					<form action="/search/1/a" method="POST">
						<div class="main-navigation">
							<ul class="menu">
								<button class="dropbtn"><i class="fa fa-search"></i></button>
							</ul> 
						</div> 
						<div class="dropdown">
								<input type="text" placeholder="Search.." id="myInput" name="search" />
						  </div>
						</form>


					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
							<a href="review.html">Books</a>
							<span>{{title}}</span>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-6">
									<figure class="movie-poster"><img src="{{url_for('static',filename='images/logoo.png')}}" alt="#"></figure>
								</div>
								<div class="col-md-6">
									<h2 class="movie-title">{{title}}</h2>
									
									<ul class="movie-meta">
										<li><strong>Rating:</strong> 
											<div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
										</li>
										<li><strong>Author:</strong> Name</li>
										<li><strong>ISBN:</strong> isbn number</li>
										<li><strong>Year Of Publication:</strong> year </li>
										<li><strong>Publisher:</strong> pub name</li>
										<p>anything else will be added here</p>
									</ul>
								</div>
							</div> <!-- .row -->
						</div>
						
					</div>
				</div> 
				<div class="container">
					<div class="page">

						<div style="border-bottom: 2px rgb(255, 102, 0);border-style: hidden hidden solid hidden;margin-bottom: 50px;color:#20201f;font-family:sans-serif;font-size: 16px;">
                            <h2>Collab Recommends</h2>
						</div>
						<div id='kk'>
                            {%for i in range(0, lenn)%}
							<div class="movie">
								<figure class="movie-poster">
									{% if images[i]=="" -%}
									<img src="{{url_for('static',filename='images/not.jpg')}}" alt="#">
									{% else -%}
									<img src="{{url_for('static',filename='')}}{{i}}.jpg" alt="#">
									{% endif %}
								</figure>
								<div class="movie-title"><a href="/single">{{titles[i]}}</a></div>
								<!-- <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>-->
							</div>
                            {%endfor%}
						</div>
                        
                    </div>
				</div>
				<div class="container">
					<div class="page">

						<div style="border-bottom: 2px rgb(255, 102, 0);border-style: hidden hidden solid hidden;margin-bottom: 50px;color:#20201f;font-family:sans-serif;font-size: 16px;">
							<h2>Content Recommends</h2>
						</div>
						<div id='kk'>
							{%for i in range(0, lenn)%}
							<div class="movie">
								<figure class="movie-poster">
									{% if images[i]=="" -%}
									<img src="{{url_for('static',filename='images/not.jpg')}}" alt="#">
									{% else -%}
									<img src="{{url_for('static',filename='')}}{{i}}.jpg" alt="#">
									{% endif %}
								</figure>
								<div class="movie-title"><a href="/single">{{titles[i]}}</a></div>
								<!-- <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>-->
							</div>
							{%endfor%}
						</div>
						
					</div>
			</main>
		</div>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>